/* Search Home style */
.SearchTitleContainer
{
    font-size: large;
    font-weight:bold;
    text-align:center;
    opacity:.9; 
}
.SearchBoxContainer
{
    text-align: center; 
}
.SearchSubTitleContainer
{
    font-size: small;
    font-weight:bold;
    text-align:center;
    opacity: .8; 
}
.SearchSubDescriptionContainer
{
  
}
.SearchDescription
{
    font-size: x-small;
    opacity:.6;
    width: 80%; 
    margin:5px;
}
  
.EventImageContainer
{
    text-align: right; 
    margin-right:5px;
    width:25%;    
}
.EventImage
{
    width:32px;
    height:32px;
     margin-right:10px;
}
.SearchFooterButton
{
    text-align:center;
     
}


